@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #cacaca;
  font-size: 16px;
  font-family: roboto, sans-serif;
  width: 100%;
  line-height: 1.5;
  background-color: #08020d;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.container-20 {
  padding: 0 20px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.btn {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.heading {
  margin-bottom: 48px;
  color: #fff;
  font-size: 38px;
  font-family: Roboto-Bold, sans-serif;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 620px) {
  .heading {
    margin-bottom: 48px !important;
    font-size: 18px !important;
    line-height: 27px !important;
  }
}
.header .wrapper-absolute {
  position: relative;
}
.header .wrapper-absolute .header-absolute {
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
}
.header .wrapper-absolute .header-absolute .logo {
  display: flex;
  align-items: center;
  height: 25px;
  margin-right: 90px;
  font-size: 11px;
  text-transform: uppercase;
}
.header .wrapper-absolute .header-absolute .logo img {
  width: 24px;
  height: 24px;
}
.header .wrapper-absolute .header-absolute .navigation {
  flex-grow: 1;
  text-transform: uppercase;
}
.header .wrapper-absolute .header-absolute .navigation ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.header .wrapper-absolute .header-absolute .navigation ul li {
  margin-bottom: 3px;
}
.header .wrapper-absolute .header-absolute .navigation ul li .nav-link {
  width: fit-content;
  color: #cacaca;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
}
.header .wrapper-absolute .header-absolute .navigation ul li .nav-link:hover {
  color: #fff;
}
@media (max-width: 815px) {
  .header .wrapper-absolute .header-absolute .navigation ul li .nav-link {
    line-height: 13px;
  }
}
.header .wrapper-absolute .header-absolute .search-input {
  width: 248px;
  min-width: 248px;
  min-height: 27px;
  padding-left: 10px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  outline: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 815px) {
  .header .wrapper-absolute .header-absolute .search-input {
    width: 100%;
  }
}
.header .header-wrapper {
  padding: 200px 0;
  color: #fff;
  text-align: center;
}
.header .header-wrapper h2 {
  margin-bottom: 31px;
}
.header .header-wrapper .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
  color: #fff;
}
.header .header-wrapper .form input {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  font-family: roboto-bold, sans-serif;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  outline: none;
}
.header .header-wrapper .form input::placeholder {
  color: #fff;
}
.header .header-wrapper .form .btn-green {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #34c176;
  border: none;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer hr {
  margin: 0;
}
.footer .footer-wrapper-footer {
  display: flex;
  margin-right: 16px;
  padding: 40px 0 50px;
}
.footer .footer-wrapper-footer .footer-link {
  width: fit-content;
  margin: 0 16px 0 0;
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-decoration: none;
}
.footer .footer-wrapper-header {
  display: grid;
  grid-column-gap: 38px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(1fr);
  padding: 3rem 0;
}
.footer .footer-wrapper-header hr {
  position: absolute;
  margin: 0 !important;
}
.footer .footer-wrapper-header .footer-h2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.footer .footer-wrapper-header .footer-h2 .describe-socials {
  display: flex;
  margin: -2px 0 -1px;
}
.footer .footer-wrapper-header .footer-h2 .describe-socials .social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  line-height: 24px;
}
.footer .footer-wrapper-header .footer-h2 h2 {
  margin: 14px 0 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.footer .footer-wrapper-header .footer-h2 ul {
  margin: 0;
  padding: 0;
}
.footer .footer-wrapper-header .footer-h2 ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer .footer-wrapper-header .footer-h2 ul .m-n {
  margin: -4px 0;
}
.footer .footer-wrapper-header .footer-h2 .footer-link {
  width: fit-content;
  margin: 2px 0;
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-decoration: none;
}
.footer .footer-wrapper-header .footer-h2 .address {
  width: 100%;
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-decoration: none;
}
.footer .footer-wrapper-header .footer-h2 .contacts {
  margin: 0;
}

@media (max-width: 815px) {
  .footer-wrapper-footer {
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 620px) {
  .footer-wrapper-footer {
    padding: 40px 0 47px;
  }
  .footer-wrapper-footer .footer-link {
    width: 100%;
    line-height: 24px;
  }

  .footer .footer-wrapper-header .footer-h2 {
    margin-bottom: 18px;
  }
  .footer .footer-wrapper-header .footer-h2 h2 {
    margin: 14px 0 18px;
  }
  .footer .footer-wrapper-header .footer-h2 ul .m-n {
    margin: -4px 0;
  }
  .footer .footer-wrapper-header .footer-h2 ul .footer-link {
    box-sizing: border-box;
    margin: 2px 0;
    overflow: hidden;
  }
  .footer .footer-wrapper-header .address {
    z-index: 1;
  }
  .footer .footer-wrapper-header .contacts {
    margin: -4px 0;
  }
  .footer .footer-wrapper-header .describe {
    margin-bottom: 21px;
  }
}
.main-header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.container .artist-heading {
  grid-column: 1/-1;
  margin-bottom: 47px;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .header .header-wrapper p {
    margin: 14px 0;
  }
  .header .container .artist-heading {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (max-width: 815px) {
  .heading {
    font-size: 18px !important;
    line-height: 27px;
  }

  .header-absolute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-absolute .logo {
    align-self: flex-start;
    font-weight: 700;
  }
  .header-absolute .navigation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-weight: 700;
  }
  .header-absolute .navigation ul {
    flex-direction: column;
    margin: 17px 0 13px;
    line-height: 13px;
  }
  .header-absolute .navigation ul li {
    display: flex;
    flex-direction: column;
  }
  .header-absolute .navigation ul li .nav-link {
    margin: 0 0 3px;
    line-height: 13px;
  }
  .header-absolute .search-box {
    width: 100%;
  }
  .header-absolute .search-box .search-input {
    align-self: flex-start;
    width: 100%;
  }

  .form input {
    flex-grow: 1;
  }

  .header-wrapper .container .main-heading {
    margin-top: 50px;
  }
  .header-wrapper .container h2 {
    margin-bottom: 16px;
  }
}
@media (max-width: 415px) {
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    margin: 0 0 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
}
#page-pricing {
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  background-color: #08020d;
}
#page-pricing .heading {
  margin-bottom: 48px;
  color: #fff;
  font-size: 38px;
  font-family: Roboto-Bold, sans-serif;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}
#page-pricing .pricing {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
}
#page-pricing .bg-free {
  background-image: url("../images/subscribe_1.png");
  justify-self: baseline;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 374px;
  max-width: 100%;
  height: 100%;
}
#page-pricing .bg-general {
  background-image: url("../images/subscribe_2.png");
  justify-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 374px;
  max-width: 100%;
  height: 100%;
}
#page-pricing .bg-premium {
  background-image: url("../images/subscribe_3.png");
  justify-self: end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 374px;
  max-width: 100%;
  height: 100%;
}
#page-pricing .pricing-item {
  max-width: 368px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}
#page-pricing .pricing-item h3 {
  margin-bottom: 200px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #page-pricing .pricing-item h3 h3 {
    font-size: 16px;
  }
}
#page-pricing .pricing-item a {
  display: block;
  box-sizing: border-box;
  margin-bottom: 64px;
  padding: 20px 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
#page-pricing .pricing-item .pricing-value {
  position: relative;
  margin: 0 0 40px;
  color: #fff;
  font-size: 64px;
  line-height: 1em;
}
#page-pricing .pricing-item .pricing-value span {
  padding-left: 16px;
  color: #fff;
  font-size: 32px;
  line-height: 48px;
  vertical-align: top;
}
#page-pricing .pricing-item .pricing-footer {
  margin-bottom: 64px;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
}
@media (max-width: 620px) {
  #page-pricing .bg-free {
    background-image: url("../images/Free Bg.png");
    justify-self: baseline;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 374px;
    max-width: 100%;
    height: 100%;
  }
  #page-pricing .bg-general {
    background-image: url("../images/Standart Bg.png");
    justify-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 374px;
    max-width: 100%;
    height: 100%;
  }
  #page-pricing .bg-premium {
    background-image: url("../images/Premium Bg.png");
    justify-self: end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 374px;
    max-width: 100%;
    height: 100%;
  }
  #page-pricing .pricing-item {
    padding: 0 24px;
  }
  #page-pricing .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1144px) {
  #page-pricing .pricing-item {
    justify-self: center;
  }
}
#page-pricing .footer-text {
  margin: 42px 0 0;
  color: #fff;
  line-height: 24px;
}

#page-news {
  padding-top: 100px;
  text-align: center;
}
#page-news .heading {
  margin-bottom: 48px;
  color: #fff;
  font-size: 38px;
  font-family: Roboto-Bold, sans-serif;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}
#page-news .news-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
}
#page-news .news-item {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}
#page-news .news-item .news-img {
  grid-column: 1/4;
  grid-row: 1/-1;
  width: 100%;
}
#page-news .news-item .news-wrapper-left {
  grid-column: 1/3;
}
#page-news .news-item .news-body {
  grid-column: 4/-1;
  grid-row: 1/2;
  text-align: start;
}
#page-news .news-item .news-body h3 {
  margin: 0 0 28px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
#page-news .news-item .news-body p {
  margin: 0 0 24px;
  line-height: 24px;
}
@media (max-width: 750px) {
  #page-news .news-item .news-body h3 {
    margin: 50px 0 16px;
  }
}
#page-news .news-item .news-footer {
  grid-column: 4/-1;
  grid-row: 2/-1;
}
#page-news .news-item .news-footer .news-author {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  font-size: 12px;
}
#page-news .news-item .news-footer .news-author p {
  margin: 0 16px 0 0;
  color: #f89202;
  text-transform: uppercase;
}
#page-news .news-item .news-footer .news-author img {
  align-self: center;
}
#page-news .news-item .news-footer a {
  display: block;
  width: fit-content;
  padding: 16px 30px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
#page-news .news-item .img-reverse {
  grid-column: 4/-1;
  grid-row: 1/-1;
}
#page-news .news-item .body-reverse {
  grid-column: 1/4;
  grid-row: 1/2;
}
#page-news .news-item .footer-reverse {
  grid-column: 1/4;
  grid-row: 2/-1;
  margin-top: -8px;
}
@media (max-width: 620px) {
  #page-news .news-item .news-footer .news-author p {
    margin: 0 24px 0 0;
  }
}
@media (max-width: 900px) {
  #page-news .news-column .news-item .news-body h3 {
    font-size: 16px;
    line-height: 24px;
  }
  #page-news .news-column .news-item .news-body p {
    font-size: 16px;
    line-height: 24px;
  }
  #page-news .news-column .news-item .news-footer .news-author p {
    font-size: 13px;
  }
  #page-news .news-column .news-item a {
    font-size: 13px;
  }
  #page-news .news-column .news-item .body-reverse h3 {
    margin-top: 52px;
  }
}
@media (max-width: 750px) {
  #page-news .news-item {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
  }
  #page-news .news-item .news-img {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: fit-content;
    max-width: 100%;
  }
  #page-news .news-item .news-body {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  #page-news .news-item .news-footer {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }
}

#page-app {
  margin-bottom: 98px;
  padding-top: 100px;
}
#page-app .page-app-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#page-app .page-app-inner .page-app-inner-left {
  width: 50%;
  margin-top: 0;
}
#page-app .page-app-inner .page-app-inner-left .inner-left-text {
  margin-top: 15px;
}
@media (max-width: 620px) {
  #page-app .page-app-inner .page-app-inner-left .inner-left-text {
    margin-top: 10px;
  }
}
#page-app .page-app-inner .page-app-inner-right {
  width: 50%;
  text-align: center;
  height: 278px;
}
#page-app .page-app-inner .btn-orange {
  padding: 16px 40px;
  color: #fff;
  font-size: 12.8px;
  text-transform: none;
  background-color: #95390c;
  border: none;
  border-radius: 32px;
}

@media (max-width: 815px) {
  #page-app .page-app-inner .page-app-inner-left {
    width: 100%;
  }
  #page-app .page-app-inner .page-app-inner-right {
    order: -1;
    width: 100%;
    height: auto;
  }
  #page-app .page-app-inner .btn-orange {
    display: block;
    margin-top: 16px;
    padding: 16px 40px;
    color: #fff;
    text-transform: none;
    background-color: #95390c;
    border: none;
    border-radius: 32px;
  }
}
.artist-header {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
.artist-header #page-description {
  padding: 200px 0;
}
.artist-header .artist-main-heading {
  margin-top: 50px;
  color: #fff;
}
@media (max-width: 620px) {
  .artist-header .artist-main-heading {
    margin-top: 28px;
  }
}
.artist-header .artist-fans-number {
  margin: 16px 0 48px;
}
.artist-header .artist-btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  margin-right: 1.5rem;
  margin-bottom: 24px;
  padding: 20px 30px;
  color: #fff;
  font-size: 12.8px;
  text-decoration: none;
  border: none;
}
.artist-header .artist-btn .svg-btn {
  width: 20px;
  height: 20px;
}
.artist-header .artist-btn-mix {
  background-color: #5328a1;
}
.artist-header .artist-btn-favorite {
  background-color: #95390c;
}

#page-popular-track .container .tracks-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}
#page-popular-track .container .tracks-wrapper .popular-track {
  display: flex;
  align-items: center;
  max-width: 551px;
  margin-right: 50px;
  margin-bottom: 25px;
}
#page-popular-track .container .tracks-wrapper .popular-track .track-img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
#page-popular-track .container .tracks-wrapper .popular-track .track-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
#page-popular-track .container .tracks-wrapper .popular-track .track-info .track-name {
  width: fit-content;
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}
#page-popular-track .container .tracks-wrapper .popular-track .track-info .track-author {
  width: fit-content;
  margin: 0;
  color: #e0e0e0;
  font-size: 12.8px;
  line-height: 19.2px;
}
#page-popular-track .container .tracks-wrapper .popular-track .track-time {
  color: #e0e0e0;
  font-size: 12.8px;
  line-height: 19.2px;
}

@media (max-width: 600px) {
  .artist-main .artist-heading {
    font-size: 18px;
    line-height: 27px;
  }
  .artist-main #page-popular-track .container .tracks-wrapper {
    grid-template-columns: 1fr;
  }
  .artist-main #page-popular-track .container .popular-track {
    margin-right: 0;
  }
}
#page-discography .container .discography {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, 250px);
  padding-top: 100px;
}
#page-discography .discography-item {
  width: fit-content;
  max-width: 250px;
  margin-right: 50px;
  margin-bottom: 25px;
}
#page-discography .discography-item .discography-item-img {
  width: 100%;
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
}
#page-discography .discography-item .discography-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
#page-discography .discography-item .discography-info .discography-name-song {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
#page-discography .discography-item .discography-info .song-year {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 600px) {
  #page-discography .container .discography {
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  #page-discography .discography-item .discography-item-img {
    width: 137px;
    height: 137px;
  }
}
#page-similar .container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, 250px);
  margin-bottom: 100px;
  padding-top: 100px;
}
#page-similar .similar-item {
  margin-bottom: 25px;
  text-align: center;
}
#page-similar .similar-item .similar-img {
  margin-bottom: 12px;
}
#page-similar .similar-item .similar-info {
  display: flex;
  flex-direction: column;
}
#page-similar .similar-item .similar-info .similar-name {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
#page-similar .similar-item .similar-info .similar-name-fans {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 600px) {
  #page-similar .container {
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  #page-similar .similar-item {
    margin-right: 50px;
  }
  #page-similar .similar-item .similar-img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=app.css.map */
