@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $font-roboto-400;
    font-size: 16px;
    line-height: 1.5;
    color: $color-dark-gray;
    background-color: $bg-color;
}
h1 {
    margin: 0;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    margin: 0;
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: uppercase;
}



.container {
    max-width: 1240px;
    // position: relative;
    margin: 0 auto;
    // padding: 0 20px;
}
.container-20 {
    padding: 0 20px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-24 {
    margin-right: 24px;
}
.btn {
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #fff;
}
@mixin btn {
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #fff;
}
.heading {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 38px;
    line-height: 57px;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
    @media (max-width: 620px) {
        .heading {
            line-height: 27px!important;
            font-size: 18px!important;
            margin-bottom: 48px!important;
        }
    }    
}

@mixin heading {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 38px;
    line-height: 57px;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}
