#page-app {
  margin-bottom: 98px;
  padding-top: 100px;

  .page-app-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-app-inner-left {
      width: 50%;
      margin-top: 0;

      .inner-left-text {
        margin-top: 15px;
      }

      @media (max-width: 620px) {
        .inner-left-text {
          margin-top: 10px;
        }
      }
    }

    .page-app-inner-right {
      width: 50%;
      height: 278px;
      text-align: center;
    }

    .btn-orange {
      padding: 16px 40px;
      color: $color-white;
      font-size: 12.8px;
      text-transform: none;
      background-color: #95390c;
      border: none;
      border-radius: 32px;
    }
  }
}

@media (max-width: 815px) {
  #page-app {
    .page-app-inner {
      .page-app-inner-left {
        width: 100%;
      }

      .page-app-inner-right {
        order: -1;
        width: 100%;
        height: auto;
      }

      .btn-orange {
        display: block;
        margin-top: 16px;
        padding: 16px 40px;
        color: $color-white;
        text-transform: none;
        background-color: #95390c;
        border: none;
        border-radius: 32px;
      }
    }
  }
}
