#page-similar {
    .container {
          display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-column-gap: 50px;
    padding-top: 100px;
    margin-bottom: 100px;  
    }

    .similar-item {
        text-align: center;
        margin-bottom: 25px;
        .similar-img {
            margin-bottom: 17px;
        }
        .similar-info {
            display: flex;
            flex-direction: column;
            .similar-name {
                margin: 0;
                font-size: 18px;
                line-height: 27px;
                color: $color-white;
                font-weight: 700;
                margin: 0;
                text-transform: capitalize;
            }
            .similar-name-fans {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}
@media (max-width: 600px) {
    #page-similar {
        .container {
                 grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;   
        }

        .similar-item {
            margin-right: 50px;
            .similar-img {
                width: 137px;
                height: 137px;
            }
            }
        
    }
}