#page-pricing {
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  background-color: $bg-color;

  .heading {
    @include heading;
  }

  .pricing {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
    grid-template-rows: (1fr);
    justify-items: center;
  }

  @mixin bg-price {
    width: 374px;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bg-free {
    background-image: url("../images/subscribe_1.png");
    justify-self: baseline;

    @include bg-price;
  }

  .bg-general {
    background-image: url("../images/subscribe_2.png");
    justify-self: center;

    @include bg-price;
  }

  .bg-premium {
    background-image: url("../images/subscribe_3.png");
    justify-self: end;

    @include bg-price;
  }

  .pricing-item {
    max-width: 368px;
    padding: 0 1.5rem;
    border-radius: 1rem;

    h3 {
      margin-bottom: 200px;
      color: $color-white;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;

      @media (max-width: 620px) {
        h3 {
          font-size: 16px;
        }
      }
    }

    a {
      display: block;
      box-sizing: border-box;
      margin-bottom: 64px;
      padding: 20px 30px;
      color: $color-white;
      text-decoration: none;

      @include btn;
    }

    .pricing-value {
      position: relative;
      margin: 0 0 40px;
      color: $color-white;
      font-size: 64px;
      line-height: 1em;

      span {
        padding-left: 16px;
        color: $color-white;
        font-size: 32px;
        line-height: 48px;
        vertical-align: top;
      }
    }

    .pricing-footer {
      margin-bottom: 64px;
      color: $color-white;
      font-size: 13px;
      line-height: 19px;
    }
  }

  @media (max-width: 620px) {
    .bg-free {
      background-image: url("../images/Free\ Bg.png");
      justify-self: baseline;

      @include bg-price;
    }

    .bg-general {
      background-image: url("../images/Standart Bg.png");
      justify-self: center;

      @include bg-price;
    }

    .bg-premium {
      background-image: url("../images/Premium Bg.png");
      justify-self: end;

      @include bg-price;
    }

    .pricing-item {
      padding: 0 24px;

      h3 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  @media (max-width: 1144px) {
    .pricing-item {
      justify-self: center;
    }
  }

  .footer-text {
    margin: 42px 0 0;
    color: $color-white;
    line-height: 24px;
  }
}
