//colors
$color-white: #fff;
$color-orange: #f89202;
$color-dark-gray: #cacaca;
$color-gray: #e0e0e0;
$bg-color: #08020d;

//fonts
$font-roboto-400: Roboto, sans-serif;
$font-roboto-700: Roboto-Bold, sans-serif;
